##Q1. Explain with an example each when to use a for loop and a while loop.

In [4]:
## for loop ..for loop is give output one by one until last element ..

In [2]:
l=[1,2,3,4,5,6,7,8]

In [3]:
for i in l :
    print(i)

1
2
3
4
5
6
7
8

Q.2 while loop. while is check condition before enter in loop,if condition is false then while is not allow to enter in loop.while loop is run until the condition is false.

In [7]:
a=1
while a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

##Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
#and while loop.

##FOR LOOP

In [12]:
product=0
l=[1,2,3,4,5,6,7,8]

In [13]:
for i in l:
    product = product + i
product

36

##while_loop

In [16]:
n=[1,2,3,4,5,6,7,8,9,10]
product = 1

while product <=10:
    product = product + 1

In [17]:
##Q3

In [20]:
def electricity_bill(units):
    if units <= 100 :
        bill=units*4.5
    elif  units <= 200:
        bill = (100*4.5)+ ((units-100)*6)
    elif  units <= 300 :
        bill = (100*4.5)+(100*6)+((unit-200)*10)
    else:
        bill = (100*4.5)+(100*6)+(100*10)+( (units-300)*20)
    return bill
units=int(input("Enter your number consumed unit"))
print("Total Electricity bill is Rs:",electricity_bill(units))

Enter your number consumed unit 311

Total Electricity bill is Rs: 2270.0

###Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

##using for loop

In [31]:
cubes_by_4_or_5_for = []
for i in range(1,101):
    cube= i**3
    if cube % 4== 0 or cube % 5==0:
        cubes_by_4_or_5_for.append(i)
print("Cubes by 4 or 5 (for loop):", cubes_by_4_or_5_for)

Cubes by 4 or 5 (for loop): [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

# Using while loop

In [2]:
cubes_by_4_or_5_while=[]
i=1
while i<=100:
    cube=i**3
    if cube % 4== 0 or cube % 5==0:

        cubes_by_4_or_5_while.append(i)
    i+=1
print("Cubes by 4 or 5 (for loop):", cubes_by_4_or_5_while)

Cubes by 4 or 5 (for loop): [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [22]:
def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char in vowels:
            count +=1
    return count
string=" i want to become a data scientist"
print("The number of vowels in the string is:",count_vowels(string))

The number of vowels in the string is: 12